<FluentTreeView @bind-CurrentSelected=currentSelected OnExpandedChange="HandleOnExpandedChanged">
    <FluentTreeItem Text="Root item 1">
        <FluentTreeItem Text="Flowers">
            <FluentTreeItem Disabled="true" Text="Daisy" />
            <FluentTreeItem Text="Sunflower" />
            <FluentTreeItem Text="Rose" />
        </FluentTreeItem>
        <FluentTreeItem Text="Nested item 2" />
        <FluentTreeItem Text="Nested item 3" />
    </FluentTreeItem>
    <FluentTreeItem Text="Root item 2">
        <FluentDivider></FluentDivider>
        <FluentTreeItem Text="Flowers">
            <FluentTreeItem Disabled="true" Text="Daisy" />
            <FluentTreeItem Text="Sunflower" />
            <FluentTreeItem Text="Rose" />
        </FluentTreeItem>
        <FluentTreeItem Text="Nested item 2" />
        <FluentTreeItem Text="Nested item 3" />
    </FluentTreeItem>
    <FluentTreeItem Text="Root item 3 - Leaf Erikson" />
</FluentTreeView>

<p>Current selected tree item is @currentSelected?.Text</p>
<p>Most recently expanded/collapsed tree item is @currentAffected?.Text</p>



@*     <FluentTreeView >
        <FluentTreeItem @bind-Expanded=@FlowersExpanded >
            Flowers
            <FluentTreeItem @bind-Selected=DaisySelected>Daisy</FluentTreeItem>
            <FluentTreeItem @bind-Selected=SunflowerSelected>Sunflower</FluentTreeItem>
            <FluentTreeItem @bind-Selected=RoseSelected>Rose</FluentTreeItem>
        </FluentTreeItem>
        <FluentTreeItem @bind-Expanded=@PlanesExpanded>
            Planes
            <FluentTreeItem>Tomcat</FluentTreeItem>
            <FluentTreeItem>Hawker Harrier</FluentTreeItem>
            <FluentTreeItem>Cesna</FluentTreeItem>
        </FluentTreeItem>
    </FluentTreeView>
 *@


@* <FluentTreeView>
    <FluentTreeItem InitiallyExpanded="true">
        Root item
        <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" Color="@Color.Neutral" Slot="start" />
        <FluentTreeItem InitiallyExpanded="true">
            Nested Root item 1
            <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" Color="@Color.Neutral" Slot="start" />
            <FluentTreeItem>
                <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" Color="@Color.Neutral" Slot="start" />
                Nested item 4
            </FluentTreeItem>
            <FluentTreeItem>

                Nested item 5
            </FluentTreeItem>
        </FluentTreeItem>
        <FluentTreeItem>
            Nested item 2

        </FluentTreeItem>
        <FluentTreeItem>
            Nested item 3
            <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" Color="@Color.Neutral" Slot="start" />
        </FluentTreeItem>
    </FluentTreeItem>
</FluentTreeView> *@


@code
{
    [Parameter]
    public double NewSize { get; set; }
    
    
    
    bool FlowersExpanded = true;
    bool PlanesExpanded = true;
    bool DaisySelected = false;
    bool SunflowerSelected = true;
    bool RoseSelected = false;


    FluentTreeItem? currentSelected;
    FluentTreeItem? currentAffected;

    private void HandleOnExpandedChanged(FluentTreeItem item)
    {
        currentAffected = item;
    }
}